@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    background-color: rgb(218, 238, 241);
    color: rgb(64, 49, 29)
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
    width: 40rem;
    margin: 3rem auto;
    background-color: rgb(246, 237, 237);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 10px 5px 5px rgb(157, 155, 155);
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, textarea, select {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 2px solid rgb(227, 215, 215);
    border-radius: 6px;
    font: inherit;
    padding: 0.25rem;
    color: rgb(64, 49, 29)
}

input:hover,
textarea:hover {
    background-color: rgb(197, 186, 151);
    color: rgb(64, 49, 29);
    border-color: rgb(81, 65, 43);;
}

textarea {
    resize: vertical;
}

.form-control-inline {
    display: flex;
}

.form-control-inline input {
    width: auto;
    margin-right: 0.5rem;
}

.btn {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

button {
    font: inherit;
    background-color: rgb(232, 55, 55);
    color: white;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgb(232, 55, 55);
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(237, 96, 96);
    border-color: rgb(237, 96, 96);
}

